.content_search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.cleanSearch {
    color: white;
    margin: 8px;
    box-shadow: 0 0 20px #ac3939;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.8);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

input[type=text]:focus {
    width: 100%;
}
  


.search_input{

    box-shadow: 0 0 20px #4f9;

}

.results {
    background-color: rgba(0,0,0,0.8) ; 
    box-shadow: 0 0 20px #ff9;
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}