.imagen_form_game {
    height: 400px;
    width: 70%;
    margin: 5% 15%;
    filter: opacity(0.80);
}

.item_form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 12px;
}   

.field {
    height: 15px;
    width: 100%;
    margin: 8px;
    color: white;
    background-color: rgb(0,0,0,0.5);
    border-color: transparent;
    border-radius: 8px;
    box-shadow: 1px 8px 8px rgb(159,0,159, 5.5);
}

.item_multiple {
    display: flex;
    flex-direction: column;
}

.button_form {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.guardar {
    background-image: url(https://image.spreadshirtmedia.net/image-server/v1/designs/136978860,width=178,height=178.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
}

.home {
    background-image: url(https://i.pinimg.com/originals/66/f3/cd/66f3cd18df514c3142fe9f78427c9c39.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
}

.delete {
    background-image: url(https://img.freepik.com/free-icon/cancel_318-395974.jpg?w=2000);
    background-size: cover;
    color: transparent;
    background-color: transparent;
    border: unset;
    height: 30px;
    width: 30px ;
    cursor: pointer;
    margin: 8px;
}